---
import Main from "../layouts/Main.astro";
---

<Main>
  <div class="profile">
    <ul class="one">
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>F</li>
      <li>G</li>
      <li>H</li>
      <li>I</li>
      <li>J</li>
      <li>K</li>
      <li>L</li>
      <li>M</li>
      <li>N</li>
      <li>O</li>
      <li>P</li>
      <li>Q</li>
      <li>R</li>
      <li>S</li>
      <li>T</li>
      <li>U</li>
      <li>V</li>
      <li>W</li>
      <li>X</li>
      <li>Y</li>
      <li>Z</li>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
      <li>k</li>
      <li>l</li>
      <li>m</li>
      <li>n</li>
      <li>o</li>
      <li>p</li>
      <li>q</li>
      <li>r</li>
      <li>s</li>
      <li>t</li>
      <li>u</li>
      <li>v</li>
      <li>w</li>
      <li>x</li>
      <li>y</li>
      <li>z</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>!</li>
      <li>?</li>
      <li>.</li>
      <li>,</li>
      <li>:</li>
      <li>;</li>
      <li>'</li>
      <li>"</li>
      <li>(</li>
      <li>)</li>
      <li>[</li>
      <li>]</li>
      <li>-</li>
      <li>–</li>
      <li>—</li>
      <li>_</li>
      <li>+</li>
      <li>=</li>
      <li>*</li>
      <li>&amp;</li>
      <li>%</li>
      <li>$</li>
      <li>£</li>
      <li>€</li>
      <li>@</li>
      <li>#</li>
      <li>/</li>
      <li>\</li>
      <li>|</li>
      <li>&lt;</li>
      <li>&gt;</li>
      <li>©</li>
      <li>®</li>
      <li>™</li>
      <li>•</li>
      <li>·</li>
      <li>…</li>
      <li>¶</li>
      <li>§</li>
      <li>°</li>
      <li>±</li>
      <li>×</li>
      <li>÷</li>
      <li>¢</li>
      <li>¥</li>
      <li>¿</li>
      <li>¡</li>
    </ul>

    <ul class="two">
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>F</li>
      <li>G</li>
      <li>H</li>
      <li>I</li>
      <li>J</li>
      <li>K</li>
      <li>L</li>
      <li>M</li>
      <li>N</li>
      <li>O</li>
      <li>P</li>
      <li>Q</li>
      <li>R</li>
      <li>S</li>
      <li>T</li>
      <li>U</li>
      <li>V</li>
      <li>W</li>
      <li>X</li>
      <li>Y</li>
      <li>Z</li>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
      <li>k</li>
      <li>l</li>
      <li>m</li>
      <li>n</li>
      <li>o</li>
      <li>p</li>
      <li>q</li>
      <li>r</li>
      <li>s</li>
      <li>t</li>
      <li>u</li>
      <li>v</li>
      <li>w</li>
      <li>x</li>
      <li>y</li>
      <li>z</li>
      <li>0</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>!</li>
      <li>?</li>
      <li>.</li>
      <li>,</li>
      <li>:</li>
      <li>;</li>
      <li>'</li>
      <li>"</li>
      <li>(</li>
      <li>)</li>
      <li>[</li>
      <li>]</li>
      <li>-</li>
      <li>–</li>
      <li>—</li>
      <li>_</li>
      <li>+</li>
      <li>=</li>
      <li>*</li>
      <li>&amp;</li>
      <li>%</li>
      <li>$</li>
      <li>£</li>
      <li>€</li>
      <li>@</li>
      <li>#</li>
      <li>/</li>
      <li>\</li>
      <li>|</li>
      <li>&lt;</li>
      <li>&gt;</li>
      <li>©</li>
      <li>®</li>
      <li>™</li>
      <li>•</li>
      <li>·</li>
      <li>…</li>
      <li>¶</li>
      <li>§</li>
      <li>°</li>
      <li>±</li>
      <li>×</li>
      <li>÷</li>
      <li>¢</li>
      <li>¥</li>
      <li>¿</li>
      <li>¡</li>
    </ul>
  </div>
</Main>

<style>
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(15, 5rem);
    font-size: 3rem;
  }

  .profile {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  ul {
    grid-area: 1/ 1;
  }

  ul.one li {
    font-variation-settings: "opsz" 102;
    color: lime;
  }
  ul.two {
    font-variation-settings: "opsz" 6;
    color: dodgerblue;
    mix-blend-mode: multiply;
  }
</style>
