<button aria-label="Theme toggler" data-theme-toggler>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke-width="1.5"
    stroke="currentColor"
    class="size-6"
  >
    <path
      class="day"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z"
    ></path>

    <path
      class="night"
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z"
    ></path>
  </svg>
</button>

<style>
  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;
    background-color: var(--background-secondary);
  }

  button:hover {
    scale: 0.9;
    background-color: none;
  }
  button:active {
    scale: 1;
  }

  .size-6 {
    width: 1.5rem;
    height: 1.5rem;
  }
  .day {
    fill: transparent;
    stroke: transparent;
  }
  .night {
    fill: hotpink;
    stroke: hotpink;
  }

  /* :global(html[data-theme="dark"]) .day {
    fill: gold;
    stroke: gold;
  }
  :global(html[data-theme="dark"]) .night {
    fill: transparent;
    stroke: transparent;
  } */
  :global(html.dark) .day {
    fill: gold;
    stroke: gold;
  }
  :global(html.dark) .night {
    fill: transparent;
    stroke: transparent;
  }
</style>

<script is:inline></script>

<script>
  const DARK_THEME_CLASS = "dark";
  const COLOUR_MODE = "COLOUR_MODE";
  const LIGHT_THEME = "LIGHT";
  const DARK_THEME = "DARK";
  console.log("Theme Toggler script loaded");

  const toggle = document.querySelector("[data-theme-toggler]");
  const rooEl = document.documentElement;

  if (toggle) {
    toggle.addEventListener("click", () => {
      console.log("Toggling theme");
      // const currentTheme = rooEl.getAttribute("data-theme");
      // const newTheme =
      //   currentTheme === DARK_THEME_CLASS ? "" : DARK_THEME_CLASS;
      // rooEl.setAttribute("data-theme", newTheme);
      rooEl.classList.toggle(DARK_THEME_CLASS);

      const colourMode =
        // rooEl.getAttribute("data-theme") === DARK_THEME_CLASS
        //   ? "DARK"
        //   : "LIGHT";
        rooEl.classList.contains(DARK_THEME_CLASS) ? DARK_THEME : LIGHT_THEME;

      window.localStorage.setItem(COLOUR_MODE, colourMode);
    });
  }
</script>
